
<div class="text-layout">
    <h1>{{ nombre | titlecase }}</h1>
        <h1> {{ valor | number }}</h1>
        <h1>{{ obj | json }} </h1>
</div>



<button  pButton type="button" icon="pi pi-bell " 
iconPos="right" 
label="Help" class="p-button-help"
(click)=" mostrarNombre () 
"label=" Cambiar Nombre " >
 
</button>
<hr>

<p-card>
    <ng-template pTemplate="header">
        Rocio
    </ng-template>
    Te amo
    <ng-template pTemplate="footer">
        nalgona hermosa <3
    </ng-template>
</p-card>
<hr>

<p-card [header]="nombre | titlecase"
        subheader="Esto es el subheader">
    
        Hola prros
    
</p-card>